    <aside class="sidebar">
        <a href="" class="sidebar__close"></a>

        <a href="/" class="logo">
            <img src="https://minio.io/img/logo/wordmark_white.svg" alt="">
        </a>

        <ul class="doc-link">
            
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Minio Server                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/minio-quickstart-guide.html">
                                                Minio Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-docker-quickstart-guide.html">
                                                Minio Docker Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-erasure-code-quickstart-guide.html">
                                                Minio Erasure Code Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/distributed-minio-quickstart-guide.html">
                                                Distributed Minio Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-secure-access-to-minio-server-with-tls.html">
                                                How to secure access to Minio server with TLS                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-bucket-notification-guide.html">
                                                Minio Bucket Notification Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-server-limits-per-tenant.html">
                                                Minio Server Limits Per Tenant                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-server-configuration-guide.html">
                                                Minio Server Configuration Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/multi-tenant-minio-deployment-guide.html">
                                                Multi-tenant Minio Deployment Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-gateway-for-azure.html">
                                                Minio Gateway for Azure                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-gateway-for-gcs.html">
                                                Minio Gateway for GCS                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-gateway-for-nas.html">
                                                Minio Gateway for NAS                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-large-bucket-support-quickstart-guide.html">
                                                Minio Large Bucket Support Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-disk-cache-guide.html">
                                                Minio Disk Cache Guide                                            </a>
                                        </li>
                            </ul>
                        </li>
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Minio Client                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/minio-client-quickstart-guide.html">
                                                Minio Client Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/minio-client-complete-guide.html">
                                                Minio Client Complete Guide                                            </a>
                                        </li>
                            </ul>
                        </li>
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Minio SDKs                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/javascript-client-quickstart-guide.html">
                                                JavaScript Client Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/javascript-client-api-reference.html">
                                                JavaScript Client API Reference                                            </a>
                                        </li>
                                        <li>
                                            <a href="/java-client-quickstart-guide.html">
                                                Java Client Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/java-client-api-reference.html">
                                                Java Client API Reference                                            </a>
                                        </li>
                                        <li>
                                            <a href="/python-client-quickstart-guide.html">
                                                Python Client Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/python-client-api-reference.html">
                                                Python Client API Reference                                            </a>
                                        </li>
                                        <li>
                                            <a href="/golang-client-quickstart-guide.html">
                                                Golang Client Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/golang-client-api-reference.html">
                                                Golang Client API Reference                                            </a>
                                        </li>
                                        <li>
                                            <a href="/dotnet-client-quickstart-guide.html">
                                                .NET Client Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/dotnet-client-api-reference.html">
                                                .NET Client API Reference                                            </a>
                                        </li>
                            </ul>
                        </li>
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Full Examples                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/javascript-shopping-app.html">
                                                JavaScript Shopping App                                            </a>
                                        </li>
                                        <li>
                                            <a href="/java-photo-api-service.html">
                                                Java Photo API Service                                            </a>
                                        </li>
                                        <li>
                                            <a href="/go-music-player-app.html">
                                                Go Music Player App                                            </a>
                                        </li>
                                        <li>
                                            <a href="/android-photo-app.html">
                                                Android Photo App                                            </a>
                                        </li>
                                        <li>
                                            <a href="/swift-photo-app.html">
                                                Swift Photo App                                            </a>
                                        </li>
                                        <li>
                                            <a href="/ror-resume-uploader-app.html">
                                                RoR Resume Uploader App                                            </a>
                                        </li>
                            </ul>
                        </li>
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Cookbook                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/s3cmd-with-minio.html">
                                                S3cmd with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aws-cli-with-minio.html">
                                                AWS CLI with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/restic-with-minio.html">
                                                restic with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/store-mysql-backups-in-minio.html">
                                                Store MySQL Backups in Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/store-mongodb-backups-in-minio.html">
                                                Store MongoDB Backups in Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/store-postgresql-backups-in-minio.html">
                                                Store PostgreSQL Backups in Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/setup-caddy-proxy-with-minio.html">
                                                Setup Caddy proxy with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/setup-nginx-proxy-with-minio.html">
                                                Setup Nginx proxy with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/aggregate-apache-logs-with-fluentd-and-minio.html">
                                                Store Apache Logs into Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/rclone-with-minio-server.html">
                                                Rclone with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/running-deis-workflow-with-minio.html">
                                                Running Deis Workflow with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/setup-apache-http-proxy-with-minio-server.html">
                                                Setup Apache HTTP proxy with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/upload-files-from-browser-using-pre-signed-urls.html">
                                                Upload files from browser using pre-signed URLs                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-run-minio-in-freenas.html">
                                                How to run Minio in FreeNAS?                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-cyberduck-with-minio.html">
                                                How to use Cyberduck with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-php-with-minio-server.html">
                                                How to use AWS SDK for PHP with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-ruby-with-minio-server.html">
                                                How to use AWS SDK for Ruby with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-python-with-minio-server.html">
                                                How to use AWS SDK for Python with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-mountain-duck-with-minio.html">
                                                How to use Mountain Duck with Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-javascript-with-minio-server.html">
                                                How to use AWS SDK for JavaScript with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-run-multiple-minio-servers-with-traef-k.html">
                                                How to run multiple Minio servers with Træfɪk                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-go-with-minio-server.html">
                                                How to use AWS SDK for Go with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-java-with-minio-server.html">
                                                How to use AWS SDK for Java with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-paperclip-with-minio-server.html">
                                                How to use Paperclip with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-aws-sdk-for-net-with-minio-server.html">
                                                How to use AWS SDK for .NET with Minio Server                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-use-minio-s-server-side-encryption-with-aws-cli.html">
                                                How to use Minio's server-side-encryption with aws-cli                                            </a>
                                        </li>
                            </ul>
                        </li>
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Related Projects                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/generate-let-s-encypt-certificate-using-concert-for-minio.html">
                                                Generate Let's Encrypt certificate using Certbot for Minio                                            </a>
                                        </li>
                                        <li>
                                            <a href="/how-to-install-golang.html">
                                                How to install Golang?                                            </a>
                                        </li>
                            </ul>
                        </li>
                        <li class="doc-link__category">
                            <a href="" class="doc-link__header">
                                Minio Deployment                            </a>
                            <ul class="doc-link__items">
                                        <li>
                                            <a href="/minio-deployment-quickstart-guide.html">
                                                Minio Deployment Quickstart Guide                                            </a>
                                        </li>
                                        <li>
                                            <a href="/deploy-minio-on-docker-swarm.html">
                                                Deploy Minio on Docker Swarm                                            </a>
                                        </li>
                                        <li>
                                            <a href="/deploy-minio-on-kubernetes.html">
                                                Deploy Minio on Kubernetes                                            </a>
                                        </li>
                                        <li>
                                            <a href="/deploy-minio-on-dc-os.html">
                                                Deploy Minio on DC/OS                                            </a>
                                        </li>
                                        <li>
                                            <a href="/deploy-minio-on-docker-compose.html">
                                                Deploy Minio on Docker Compose                                            </a>
                                        </li>
                            </ul>
                        </li>
             
        </ul>
    </aside>

    <section class="content">
